<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#">Sports Store</a></li>
            <li>
        </ul>
    </div>
</nav>
<div class="uk-text-center" *ngIf="errorMessage != null">
  {{ errorMessage }}
</div>
<div class="uk-text-center">
  <form novalidate #form="ngForm" (ngSubmit)="this.athenticate(form)">
      <div class="uk-margin">
          <label for="username">Name</label>
          <input class="uk-input uk-form-width-medium"
          name="username" [(ngModel)]="username" type="text" placeholder="UserName" required />
      </div>
      <div class="uk-margin">
          <label for="username">Passowrd</label>
          <input class="uk-input uk-form-width-medium"
          name="password" [(ngModel)]="password" type="password" placeholder="Passowrd" required />
      </div>
      <div>
        <button class="uk-button uk-button-default" routerLink="/">Go Back</button>
        <button type="submit" class="uk-button uk-button-default">Login</button>
      </div>
  </form>
</div>